body {
    background-color: black;
    text-align: center;
}

.h1-style {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.h4-style {
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: aquamarine;
}

.video-img {
    text-align: center;
}

.p-style {
    font-family: verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.p1-style {
    font-family: verdana;
    font-size: 21px;
    color: gray;
}

.copyright-style {
    text-align: right;
    color: gray;
}